/*

--- Fotogalerie ---

*/

.gallery {
}

.gallery-item {
	float: left;
	width: 170px/@contentWidth*100%;
	margin: 0 15px/@contentWidth*100% 15px 0;
}

.gallery-item a {
	margin-bottom: 4px;
}

.gallery-item-third {
  margin-right: 0;
}

